/* Background images */
.img-1 {
  background: url("images/img-1.jpg");
}

.img-2 {
  background: url("images/img-2.jpg");
}

.img-3 {
  background: url("images/img-3.jpg");
}

.img-4 {
  background: url("images/img-4.jpg");
}

.img-5 {
  background: url("images/img-5.jpg");
}

.img-6 {
  background: url("images/img-6.jpg");
}
.img-7 {
  background: url("images/img-7.jpg");
}

.img-8 {
  background: url("images/img-8.jpg");
}

.img-9 {
  background: url("images/img-9.jpg");
}

.img-nhien-avatar {
  background: url('images/nhien-avatar.jpg');
}

.img-thien-avatar {
  background: url('images/thien-avatar.jpg');
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  color: rgb(65, 65, 65);
}

.main {
  /* height: 100vh; */
  /* overflow-x: hidden;
  overflow-y: auto; */
  /* perspective: 2px; don't use parallax */
}

.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  /* height: 100vh; */
}

/* main hero section */
.hero {
  height: 100vh;
  text-align: center;
  /* color: white; */
}
.absolute-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* margin-top: 100px; */
}

.important {
  height: 150px;
  max-width: 600px;
  padding: 2rem 0;
}

h1 {
  font-size: 3rem;
  /* font-family: 'Tangerine', cursive; */
  font-family: 'Meddon', cursive;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 2.2rem;
  }
}

h1.low {
  /* color: rgba(255, 255, 255, .75); */
  font-size: 2rem;
  letter-spacing: .35rem;
}

h2 {
  /* font-family: 'Tangerine', cursive; */
  font-family: 'Meddon', cursive;
}

p {
  font-size: 1.2em;
}

.hero p {
  opacity: .7;
}

.full-height {
  height: 100vh;
}

/* corner flower */
.corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 200px;
  background: url("images/corner.jpg");
  background-size: cover;
  z-index: -1;
}
/* avatar facebook on story section */
.story {
  padding-bottom: 100px;
}

.avatars {
  max-width: 600px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.fb-avatar {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 20px
  text-align: center;
  line-height: 100px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 1px 1px rgba(58, 58, 58, 0.336),
              0 0 2px 3px rgba(58, 58, 58, 0.13);
  background-size: cover;
}

@keyframes beating {
  0% { font-size: 3rem; }
  50% { font-size: 4rem; }
  100% { font-size: 3rem; }
}

/* @-webkit-keyframes beating {
  0% { font-size: 3rem; }
  50% { font-size: 4rem; }
  100% { font-size: 3rem; }
} */

.story div.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  padding: 40px;
  font-size: 3rem;
  color: rgb(255, 98, 125);
  animation: beating .7s ease-out infinite;
  -webkit-animation-name: beating;
  -webkit-animation-duration: .75s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
  animation-name: beating;
  animation-duration: .75s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}


.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

[class^="col-"] {
  justify-self: center;
}

.col-6 {
  grid-column: span 6;
}

.col-4 {
  grid-column: span 4;
}

@media (max-width: 576px){
  .col-sm-12 {
    grid-column: span 12;
  }
}

/* style for pictures gallery */
.gallery {
  overflow: auto;
}

.gallery figure a {
  display: block;  /* to wrap around the img tag and take up all height */
  background-position: center bottom;
  background-size: cover; /* to fit the background to cover all the element */
  transition: all ease-out 0.3s;
}

.gallery figure a:hover {
  transform: scale(1.1);
}

figure {
  float: left;
  width: calc(100%/3);
  margin: 0;
  overflow: hidden;
}

.img-frame {
  width: 100%;
}

/* style for date section */
.dates {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.date {
  padding-top: 20px;
  padding-bottom: 20px;
}
