/* Background images */
.img-1 {
  background: url("images/img-1.jpg");
}

.img-2 {
  background: url("images/img-2.jpg");
}

.img-3 {
  background: url("images/img-3.jpg");
}

.img-4 {
  background: url("images/img-4.jpg");
}

.img-5 {
  background: url("images/img-5.jpg");
}

.img-6 {
  background: url("images/img-6.jpg");
}
.img-7 {
  background: url("images/img-7.jpg");
}

.img-8 {
  background: url("images/img-8.jpg");
}

.img-9 {
  background: url("images/img-9.jpg");
}

.img-main-section::after {
  background: url("images/full-bg.jpg");
  background-position: center bottom;
  background-size: cover;
}

.img-parallax-2::after {
  background: url("images/full-bg-2.jpg");
  background-position: center bottom;
  background-size: cover;
}

.img-nhien-avatar {
  background: url('images/nhien-avatar.jpg');
}

.img-thien-avatar {
  background: url('images/thien-avatar.jpg');
}

/* general rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  color: rgb(65, 65, 65);
}
/* Main hero section */
.hero {
  height: 100vh;
  text-align: center;
  color: white;
}

h1 {
  font-size: 3rem;
  /* font-family: 'Tangerine', cursive; */
  font-family: 'Meddon', cursive;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 2.2rem;
  }
}

h2 {
  /* font-family: 'Tangerine', cursive; */
  font-family: 'Meddon', cursive;
}

.hero .special {
  text-shadow:  0 1px 0 #ccc,
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
}

h1.low {
  color: rgba(255, 255, 255, .75);
  font-size: 2rem;
  letter-spacing: .35rem;
}

p {
  font-size: 1.2em;
}

.hero p {
  opacity: .4;
}
/* Parallax efect settings for main hero section */
.main {
  height: 100vh;
          perspective: 200px;
  -webkit-perspective: 200px;
      -ms-perspective: 200px;
     -moz-perspective: 200px;
  overflow-x: hidden; /* must have overflow-x for the parallax effect to work */
  overflow-y: auto;
}

.absolute-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 100px;
}

.important {
  height: 200px;
  max-width: 600px;
  padding: 2rem 0;
}

.parallax {
  /* position: relative; if set this the parallax effect won't work on safari */
  overflow: hidden;
}

.full-height {
  height: 100vh;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
          transform: translateZ(-100px) scale(1.5);
  -webkit-transform: translateZ(-100px) scale(1.5);
     -moz-transform: translateZ(-100px) scale(1.5);
      -ms-transform: translateZ(-100px) scale(1.5);
  z-index: -1;
}
.section {
  /* display: block; */
  position: relative;
  overflow: hidden;
}


/* style for 'story section' */
.blue-gradient {
  background: rgb(152, 240, 255);
  background: radial-gradient(ellipse at top center, rgb(250, 254, 255) , rgb(219, 250, 255) )
}

.story {
  text-align: center;
}

.story div.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  font-size: 3rem;
  color: rgb(255, 98, 125);
}

/* avatar facebook on story section */
.avatars {
  max-width: 600px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.fb-avatar {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 20px;
  text-align: center;
  line-height: 100px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 1px 1px rgba(58, 58, 58, 0.336),
              0 0 2px 3px rgba(58, 58, 58, 0.13);
  background-size: cover;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

[class^="col-"] {
  justify-self: center;
}

.col-12 {
  grid-column: span 12;
}
.col-6 {
  grid-column: span 6;
}

.col-4 {
  grid-column: span 4;
}

@media (max-width: 576px){
  .col-sm-12 {
    grid-column: span 12;
  }
}

/* style for pictures gallery */
.gallery {
  overflow: auto;
}

.gallery figure a {
  display: block;  /* to wrap around the img tag and take up all height */
  background-position: center bottom;
  background-size: cover; /* to fit the background to cover all the element */
  transition: all ease-out 0.3s;
}

.gallery figure a:hover {
  transform: scale(1.1);
}

figure {
  float: left;
  width: calc(100%/3);
  margin: 0;
  overflow: hidden;
}

.img-frame {
  width: 100%;
}

/* style for date section */
.dates {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.date {
  padding-top: 20px;
  padding-bottom: 20px;
}